:root {
  --primary: #5300db;
  --primary-100: #5300db17;
  --white: #fff;
  --light: #f2f2f2;
  --light-200: #eaeaea;
  --light-400: #b2b2b2;
  --light-300: #dbdada;
  --light-500: #0000004d;
  --darker: #333333;
  --danger: #bc0000;

  --text-h1: 36px;
  --text-base: 18px;
  --text-xs: 14px;
}

body {
  box-sizing: border-box;
  padding: 0;
  background-color: var(--light) !important;
  margin: 0;
  font-family: "Inter", sans-serif;
  .h1,
  h1,
  .text-h1 {
    font-size: var(--text-h1) !important;
    font-weight: 700;
  }
  .h6,
  h6,
  .text-h6 {
    font-size: var(--text-xs);
  }
  p,
  label,
  button,
  a {
    font-size: var(--text-base);
    line-height: 21.78px;
  }
  input {
    background-color: var(--light);
    padding: 10px;
    border: none;
    border-radius: 6px;
  }
  .button {
    padding: 10px 15px;
  }
  .outline-primary-btn {
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 6px;
  }
  .primary-btn {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 6px;
  }
}
* {
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: var(--primary);
  .navbar-brand {
    color: var(--white);
  }
}

main {
  padding: 40px 0;
  .main-head {
    text-align: center;
    padding-bottom: 40px;
  }
  .inner-content-box {
    border: 1px solid var(--light-200);
  }
}

.box-head {
  padding: 27px 15px 18px;
  border-bottom: 1px solid var(--light-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  button {
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
  }
  .add-btn {
    color: var(--primary);
    &::before {
      content: "+";
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2px;
      height: 24px;
      width: 24px;
      border-radius: 30px;
      border: 2px solid var(--primary);
    }
  }
  .reset-btn {
    color: var(--danger);
  }
}
.main-input {
  padding-bottom: 12px;
  position: relative;
  input {
    padding-right: 40px;
    width: 100%;
  }
  button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--light-500);
  }
}
.btn.button-primary {
  padding: 13px;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 11px;
  img {
    height: 28px;
    width: 28px;
  }
}
.btn.button-primary-outlined {
  padding: 13px;
  background-color: var(--white);
  color: var(--primary);
  gap: 5px;
  border: 1px solid var(--primary);
  margin-bottom: 11px;
  &.danger {
    color: var(--danger);
    border-color: var(--danger);
  }
}
.box-left-wrapper {
  background-color: #fff;
}
.box-left {
  background-color: var(--white);
  .box-left-body {
    margin: 10px 15px;
    overflow-y: scroll;
    height: 450px;
    .inner-box {
      border: 1px solid var(--light);
      border-radius: 6px;
      padding: 15px 9px;
      margin-bottom: 10px;
    }
    .inner-box-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      .heading {
        margin-bottom: 0;
      }
      button {
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--danger);
        font-size: var(--text-xs);
      }
    }
    .inner-box-input-wrapper {
      position: relative;

      select {
        max-width: 86px;
        width: 100%;
        font-size: 14px;
        border: 1px solid var(--light-300);
        border-radius: 2px;
        color: var(--darker);
        option {
          font-family: "Font Awesome 5 Free";
          &:before {
            content: attr(data-icon);
            font-family: "Font Awesome 5 Free";
            margin-right: 5px; /* Add spacing between icon and text */
          }
        }
      }
      .color-picker {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        input {
          padding: 0;
          border: 2px solid var(--light);
          height: 27px;
          width: 27px;
        }
      }

      .more-settings {
        padding: 16px 16px 0;
        display: none;
        &.show{
          display: block;
        }
        .setting-col {
          padding: 0;
          display: flex;
          align-items: center;
          gap: 6px;
        }
        label {
          width: 60px;
        }
        input {
          width: 100%;
          height: 29px;
          max-width: 64px;
          border: 1px solid var(--light-300);
          border-radius: 2px;
          background-color: var(--white);
          &:focus {
            outline: none;
          }
        }
        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding: 3px;
          height: 21px;
          width: 21px;
          border: 1px solid var(--light-300);
          position: relative;
          &:checked {
            &::before {
              content: "";
              position: absolute;
              top: 4.5px;
              left: 4.5px;
              width: 10px;
              height: 10px;
              border-radius: 1px;
              border: solid var(--primary);
              background-color: var(--primary);
            }
          }
        }
        input[type="range"] {
          -webkit-appearance: none;
          width: 100%;
          height: 3px;
          padding: 0;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 11px;
            height: 11px;
            background: #000;
            border-radius: 50px;
            cursor: pointer;
          }
          &::-moz-range-thumb {
            width: 11px;
            height: 11px;
            border-radius: 50px;
            background: #000;
            cursor: pointer;
          }
        }
        input[type="text"] {
          padding-right: 24px;
        }
        .input-px{
          position: relative;
          &::after{
            content: 'px';
            position: absolute;
            color: var(--light-400);
            font-size: 14px;
            font-size: 14px;
            right: 7px;
            top: 3px;
          }
        }
      }
    }
  }
}
.main-box {
  padding: 19px;
  background-color: var(--white);
  border-right: 1px solid var(--light-500);
  border-left: 1px solid var(--light-500);
  .banner-img {
    padding-bottom: 12px;
    img {
      width: 100%;
      max-height: 329px;
      height: 100%;
      object-fit: cover;
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    .button-light {
      width: calc(25% - 13px);
      background-color: var(--primary-100);
      padding: 5px 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        height: 28px;
        width: 28px;
      }
    }
  }
}
.box-right {
  background-color: var(--white);
  .btns-wrapper {
    padding: 9px 14px;
    display: flex;
    justify-content: center;
    gap: 7px;
    border-bottom: 1px solid var(--light-500);
  }
  .box-right-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 14px 9px 30px;
  }
  /* Style for the template selector container */
  .template-selector-wrapper {
    background-color: var(--light-200);
    padding: 8px;
    margin: 9px;
    margin-top: 0;
  }
  .template-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 116px;
    overflow-y: scroll;
    .template {
      width: 20%;
      height: 100%;
      border: 3px solid transparent;
      cursor: pointer;
      object-fit: cover;
    }
    .template.active {
      border-color: var(--primary);
    }
  }
}

/* Your existing styles */

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown toggle/button */
.dropdown-toggle {
  background-color: #fff;
  border: 1px solid var(--light-300);
  padding: 2px 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  &::after {
    display: none !important;
  }
}

/* Main selected icon */
.selected-icon {
  font-size: 12px;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  &.show {
    display: block;
  }
}

/* Dropdown items */
.dropdown-item {
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  span{
    font-size: 12px;
  }
}

@media (max-width: 1399px) {
  .template-selector-wrapper {
    .template-selector {
      max-height: 140px;
    }
  }
}
@media (max-width: 1199px) {
  main {
    .inner-content-box {
      border: none;
    }
  }
  .main-box {
    border: 1px solid var(--light-200);
    .banner-img {
      img {
        max-height: 100%;
      }
    }
  }
  .box-head {
    min-height: 72px;
  }
  .box-right {
    border: 1px solid var(--light-200);
    .template-selector {
      max-height: 210px;
    }
  }
  .box-left-wrapper {
    background-color: transparent;
  }
  .box-left {
    border: 1px solid var(--light-200);
  }
}

@media (max-width: 767px) {
  .box-head {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .main-box {
    border-bottom: 0;
    padding-bottom: 0;
    .actions {
      flex-wrap: wrap;
      padding-bottom: 0;
      .button-light {
        width: calc(25% - 8px);
      }
    }
  }
  .box-left {
    border-top: 0;
    .box-head {
      padding-top: 0;
    }
    .box-left-body {
      height: 100%;
      margin-top: 0;
    }
    .add-btn {
      padding: 7px 13px;
      background-color: var(--light);
      border-radius: 6px;
    }
  }
  .template-selector-wrapper.template-selector {
    height: 100%;
    max-height: max-content;
  }
  .box-right {
    margin-top: 14px;
    .box-right-body {
      display: block;
      padding-bottom: 10px;
      label {
        padding-bottom: 10px;
      }
    }
    .btns-wrapper {
      border-bottom: 0;
      button {
        width: 50%;
      }
    }
    .template-selector-wrapper {
      padding: 0;
      background-color: transparent;
    }
    .template-selector {
      height: 100%;
      max-height: max-content;
    }
  }
}
@media (max-width: 576px) {
  .main-box {
    .actions {
      .button-light {
        justify-content: center;
        span {
          display: none;
        }
      }
    }
  }
}
